.moodhistory{
    background-color: #F2F2F2;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);

    transition: background-color 0.8s ease-in-out, border 0.8s ease-in-out, box-shadow 0.8s ease-in-out;

}

.moodhistory.animate{
    animation: landingMoodHistory 4s  ease forwards;
}

.moodhistory-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 71.5%;
    margin-bottom: 1rem;
}

.moodhistory-header button{
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);
    border: none;
    background-color: red;
    color: white;
    padding: 0.6rem 0.6rem;
    border-radius: 4px;
    font-weight: 600;

    transition: all 0.1s ease-in-out;

}

.moodhistory-header button:hover{
    background-color: rgb(233, 0, 0);
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.6);

}

.moodhistory-header h2{
    font-weight: 800;
}

.moodhistory-content{
    background-color: #DDDDDD;
    padding: 1.4rem 1.3rem;
    padding-bottom: 0.8rem;
    border-radius: 4px;
    margin: 0rem 0.5rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);
    list-style: none;

}

.moodhistory-data{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #EEEEEE;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);

}

.moodhistory-data span:nth-child(1){
    color: #BF3131;
    font-weight: 600;

}

.moodhistory-data span:nth-child(2){
    color: black;
    font-weight: 400;
    font-size: 0.9rem;

}

.moodhistory-data p{
    margin: 0.6rem 0.2rem;
    font-size: 0.8rem;
}



/* dark mode */


.moodhistory.dark {
    background-color: #000B58;
    color: #f5f5f5;
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.4);

    transition: background-color 0.8s ease-in-out, border 0.8s ease-in-out, box-shadow 0.8s ease-in-out;

}

.moodhistory.dark .moodhistory-header h2 {
    color: #f5f5f5;
}

.moodhistory.dark .moodhistory-header button {
    background-color: #e11d48; 
    color: #fff;
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.4);
}

.moodhistory.dark .moodhistory-header button:hover {
    background-color: #be123c;
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.4);
}

.moodhistory.dark .moodhistory-content {
    background-color: #2E3578;
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.4);
}

.moodhistory.dark .moodhistory-data {
    background-color: #3a3f88;
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.4);
}

.moodhistory.dark .moodhistory-data span:nth-child(1) {
    color: #facc15; 
}

.moodhistory.dark .moodhistory-data span:nth-child(2) {
    color: #e0e0e0;
}

.moodhistory.dark .moodhistory-data p {
    color: #d4d4d4;
}



@keyframes landingMoodHistory {
    0% {
        opacity: 0;
        transform: translateY(-10px) scale(0.99);
    }
      100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}