.mood-selector{
    height: 30vh;
    max-width: 40.4rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color :whitesmoke;
    padding: 1rem;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);

}
.mood-selector.animate{
    animation: landingMoodSelector 4s ease forwards;

}
.mood-selector-header{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 1rem;
}
.mood-selector-header p{
    font-size: 0.8rem;
    margin: 0;
}
.mood-selector-header h1{
    font-weight: 900;
    font-size: 1.8rem;
    margin: 0;
}
.mood-selector-content{
    height: 14vh;
    width: 100%;
    gap: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.mood-selector-content button{
    border-radius: 0.8rem;
    background-color: #1e1b4b;
    color: black;
    border: 2px solid transparent;
    height: 5rem;
    width: 5rem;
    transition: all 0.2s ease-in-out;
}

.mood-selector-content button:hover{
    color: #1e1b4b;
    box-shadow: 0 0 4px 0.1px gold;
    transform: scale(1.05);
}
.mood-selector-content button.selected {
    border-color: white;
    transform: scale(1.1);
}
.mood-selector-content button span {
    height: 50px;
    width: 50px;
    font-size: 2rem;
}
.mood-selector-content button h2{
    font-size: 0.8rem;
}



/* dark mode */


.mood-selector.dark {
    background-color: #000B58;
    border: 1px solid #404258;
    box-shadow: 0 0 0.2rem rgba(255, 255, 255, 0.6);
}

/* Corrected selector */
.mood-selector.dark .mood-selector-header {
    color: #f5f5f5;
}

/* Dark mode button adjustments */
.mood-selector.dark .mood-selector-content button {
    color: #f5f5f5;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* Hover effects in dark mode */
.mood-selector.dark .mood-selector-content button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 6px 1px gold;
}

/* Selected button style in dark mode */
.mood-selector.dark .mood-selector-content button.selected {
    border-color: white;
    transform: scale(1.1);
}

/* Emoji and label in dark mode */
.mood-selector.dark .mood-selector-content button span {
    color: #f5f5f5;
}

.mood-selector.dark .mood-selector-content button h2 {
    color: #f5f5f5;
}





@keyframes landingMoodSelector {
    0% {
        opacity: 0;
        transform: translateX(30px) scale(0.98);
      }
      100% {
        opacity: 1;
        transform: translateX(0) scale(1);
      }
}
  