.mood-selector{
    height: 30vh;
    max-width: 40.4rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color :whitesmoke;
    padding: 1rem;
}
.mood-selector-header{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 2rem;
}
.mood-selector-header p{
    font-size: 0.8rem;
    margin: 0;
}
.mood-selector-header h1{
    font-weight: 900;
    font-size: 1.8rem;
    margin: 0;
}
.mood-selector-content{
    height: 9vh;
    width: 100%;
    gap: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.mood-selector-content button{
    border-radius: 0.8rem;
    background-color: #1e1b4b;
    color: black;
    border: 2px solid transparent;
    height: 5rem;
    width: 5rem;
    transition: all 0.2s ease-in-out;
}

.mood-selector-content button:hover{
    color: #1e1b4b;
    box-shadow: 0 0 4px 0.1px gold;
    transform: scale(1.05);
}
.mood-selector-content button.selected {
    border-color: white;
    transform: scale(1.1);
}
.mood-selector-content button span {
    height: 50px;
    width: 50px;
    font-size: 2rem;
}
.mood-selector-content button h2{
    font-size: 0.8rem;
}

