.moodhistory{
    background-color: #F2F2F2;
    padding: 1rem;
    padding-bottom: 1.5rem;
    border-radius: 3px;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);

}
.moodhistory-header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 71.5%;
    margin-bottom: 1rem;
}
.moodhistory-header button{
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);
    border: none;
    background-color: red;
    color: white;
    padding: 0.6rem 0.6rem;
    border-radius: 4px;
    font-weight: 600;
    transition: all 0.1s ease-in-out;

}
.moodhistory-header button:hover{
    background-color: rgb(233, 0, 0);
    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.6);


}
.moodhistory-header h2{
    font-weight: 800;

}
.moodhistory-content{
    background-color: #DDDDDD;
    padding: 1.4rem 1.3rem;
    padding-bottom: 0.8rem;
    border-radius: 4px;
    margin: 0rem 0.5rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);
    list-style: none;

}
.moodhistory-data{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #EEEEEE;
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.6);

}

.moodhistory-data span:nth-child(1){
    color: #BF3131;
    font-weight: 600;

}
.moodhistory-data span:nth-child(2){
    color: black;
    font-weight: 400;
    font-size: 0.9rem;

}
.moodhistory-data p{
    margin: 0.6rem 0.2rem;
    font-size: 0.8rem;
}