*{
    margin: 0;
    padding: 0;
}
.container{
    padding-left: 0 !important;         /* solving padding issue*/
    padding-right: 0 !important;
}
.statusbar{
    background-color: rgba(255, 255, 255, 0.866);
    margin: 1rem 0rem;
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6px 0px;
    padding-left: 6px;      /* fix padding cause Getting padding from Nowhere*/
    padding-right: 6px;    

    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.6);


}
.statusbar.animate{
    animation: landingStatusBar 4s ease forwards ;
    
}
.tab{
    opacity: 0.5;
    background-color: whitesmoke;
    transition: 0.3s;
    padding: 0.5rem;
    border: none;

}
.active{
    padding: 0.5rem;
    border: 1px solid #ccc;
}
.statusbar a{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 2px;
    padding:  0.5rem;
}


@keyframes landingStatusBar {
    0% {
        opacity: 0;
        transform: translateY(-10px) scale(0.99);
      }
      100% {
        opacity: 1;
        transform: translateY(0) scale(1);
      }
  }
  