*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar{
        display: none;
    }
}

body {
    min-height: 100vh;
}

.lightTheme{
    background: linear-gradient(180deg,#150485,#C33764 );
    background-size: 600% 600%;
    animation: lightTheme 0.8s ease-in-out forwards;

}

.darkTheme{
    background: linear-gradient(180deg,#150485,#C33764 );
    background-size: 600% 600%;
    animation: darkTheme 0.8s ease-in-out forwards;
}


@keyframes lightTheme {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


@keyframes darkTheme {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


