*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ::-webkit-scrollbar{
        display: none;
    }
}
body {
    background: linear-gradient(180deg,#C33764 ,#1D2671);

    background-size: 600% 600%;
    animation: animate 4s ease-in-out forwards;
    min-height: 100vh;
}
@keyframes animate {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}

  
